/**
* all and (min-width: 400px)
*
* Anything more than 400px.
*/

html,
body {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden;
    background: #333 url() no-repeat right bottom;
    background-attachment: fixed;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

body {
    background: url(./nfl-left.webp) no-repeat left top, url(./nfl-right.webp) no-repeat right top;
    background-color: transparent;
    background-attachment: fixed, fixed;
    -moz-background-size: auto 100%, auto 100%;
    -o-background-size: auto 100%, auto 100%;
    -webkit-background-size: auto 100%, auto 100%;
    background-size: auto 100%, auto 100%;
}

@media all and (min-height: 800px) {
    body {
        background: transparent url(./tree.png) no-repeat right top;
        background-attachment: fixed;
        -moz-background-size: auto 75%;
        -o-background-size: auto 75%;
        -webkit-background-size: auto 75%;
        background-size: auto 75%;
    }
}

@media all and (min-height: 1366px) {
    body {
        -moz-background-size: auto 50%;
        -o-background-size: auto 50%;
        -webkit-background-size: auto 50%;
        background-size: auto 50%;
    }
}

@media all and (max-device-width: 600px) {
    body {
        background: transparent url(./tree.png) no-repeat right -1px;
        background-attachment: fixed;
        -moz-background-size: auto 75%;
        -o-background-size: auto 75%;
        -webkit-background-size: auto 75%;
        background-size: auto 75%;
    }
}

.page-wrapper {
    position: relative;
    margin: 120px auto 200px auto;
    padding: 0 50px 20px 50px;
    width: 260px;
    background: url(./paper-plane.webp) no-repeat center top, url(./lightening.gif) repeat center center;
     -moz-background-size: 700px auto;
    -o-background-size: 700px auto;
    -webkit-background-size: 700px auto;
    background-size: 700px auto;
    -moz-transition: margin 1s ease-out;
    -o-transition: margin 1s ease-out;
    -webkit-transition: margin 1s ease-out;
    transition: margin 1s ease-out;
}

    .page-wrapper::before,
    .page-wrapper::after {
        position: absolute;
        left: 0;
        width: 360px;
        content: '';
    }

    .page-wrapper::before {
        top: -600px;
        height: 600px;
        background: url(hook3.svg) no-repeat center bottom, url(layer-frame.svg) no-repeat center 567px;
        -moz-background-size: 300px auto, 360px auto;
        -o-background-size: 300px auto, 360px auto;
        -webkit-background-size: 300px auto, 360px auto;
        background-size: 300px auto, 360px auto;
    }

    .page-wrapper::after {
        bottom: -33px;
        height: 33px;
        background: transparent url(./tree.png) no-repeat center bottom;
        -moz-background-size: 360px auto;
        -o-background-size: 360px auto;
        -webkit-background-size: 360px auto;
        background-size: 360px auto;
    }

/** $intro */

h1 {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/**
* base
*
* The base styles apply to all browsers (including older browsers that don�t support media queries). 
*/

@-ms-viewport {
    width: device-width;
}

/** reset + basic */

html,
body,
div,
section,
header,
h1,
h2,
h3,
abbr,
p,
a,
footer,
aside,
nav,
ul,
li {
    margin: 0;
    padding: 0;
}

ul, li {
    display: block;
    list-style: none;
}

html {
    background: black;
}

body {
    overflow: auto;
    padding: 0 0 25px 0;
    min-width: 220px;
    border: none;
    color: #fff;
    font: 20px/23px "museo-sans", sans-serif;
}

p {
    padding: 15px 15px 0 15px;
    text-align: center;
}

abbr,
acronym {
    border-bottom: none;
}

/** $intro */

h1,
h2,
h3 {
    display: block;
    padding: 20px 15px 0 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

h1 {
    font-size: 46px;
    line-height: 46px;
}

h2 {
    font-size: 26px;
    line-height: 26px;
}

h3 {
    font-size: 23px;
    line-height: 23px;
}

    h3 + nav,
    h3 + ul {
        padding-top: 5px;
    }

a {
    display: inline-block;
    padding: 0 4px;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    line-height: 21px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/** $main */

.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-github,
.zen-accessibility {
    display: block;
    padding: 10px 15px 0 15px;
}

.zen-validate-html {
    padding-top: 15px;
}

footer a {
    border-radius: 0;
    background-color: #000;
    color: #fff;
}

    footer a::after {
        display: block;
        margin-top: 1px;
        padding: 1px 2px;
        border-radius: 2px;
        background: white;
        color: #000;
        content: attr(title);
        line-height: 21px;
    }

/** $sidebar */

.wrapper li {
    display: block;
    padding: 10px 15px 0 15px;
}

.design-selection li a.design-name,
.design-archives a,
.zen-resources a {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
}

.design-selection li a.designer-name {
    display: block;
    overflow: hidden;
    padding: 1px 2px;
    border-radius: 2px;
}

.design-archives a,
.zen-resources a {
    display: block;
    text-align: center;
}
