body{
    background-color: lightblue !important;
    /*
    border-left: 65px double chocolate; 
    border-right: 65px double chocolate;
    */
    border: double 50px chocolate;
    
    margin: 0px; 
    padding: 10px;
}
/*
section{
    background-color: lightgreen;
}
*/
#testimonials{
    background-color: magenta;
}
p{
 text-align: left;
 
}
.paragraph1{
    background-color: orangered;
}
/*
h1,h2,p{
    text-align: center; color: black;
}

h2{

    background-color: mediumvioletred;
    
    
    display: inline-block;
    border-left: 15px solid chocolate;
    border-right: 15px solid chocolate;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
  */  

}
ul
{
    list-style: none;
    
}

ul li
{
    display: inline-block;
    width: 150px;
    background-color: rgb(177, 193, 199);
    border-bottom-color:black;
    border-bottom-style: solid;
    border-left: 15px  chocolate;
    border-right: 15px  chocolate;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 0px;
    padding: 10px;

}

#image
 
{  
    border-radius: 100px; 
    border: dotted 5px rgb(224, 22, 130);

}
.table{
    font-family: fantasy;
     background-color: rgb(21, 170, 230);
}

#Top{
    position: fixed;
    right: 0;
    bottom: 0%;
    width: 5em;
    margin-top: -2.5em;
    padding-right: 38px;

}
 #Address{
/*     float: right;
     position: relative;
     top: -300px; 
     margin-right: 0px;
  */   border: 3px solid lightblue;
    /* padding: 10px 20px 10px 10px;*/
    display: grid;
     align-self: center;
     justify-self: center;
     vertical-align: middle;
     margin-top:100px;
     border-radius: 20px;
 }

 .row1{
     display: grid;/*
     justify-items: center;
     align-content: center ;*/
 }
 /*
 #nav{
    display: inline;
    width: 150px;
    background-color:greenyellow;
    border-bottom-color:black;
    border-bottom-style: solid;
    border-left: 15px  chocolate;
    border-right: 15px  chocolate;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 0px;
    padding: 10px;
 }
 */
 
 @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  .responsive-img{
}
img{
    width: 600px;
}
