body{
    background-color: lightblue;
}
section{
    background-color: lightgreen;
}
#testimonials{
    background-color: magenta;
}
p{
    background-color:yellow;
}
.paragraph1{
    background-color: orangered;
}
ul
{
    background-color: rgb(45, 127, 160);
    list-style: none;
}